@font-face {font-family: "Keep Calm";
    src: url("fonts/Keep_Calm.eot"); /* IE9*/
    src: url("fonts/Keep_Calm.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/Keep_Calm.woff2") format("woff2"), /* chrome、firefox */
    url("fonts/Keep_Calm.woff") format("woff"), /* chrome、firefox */
    url("fonts/Keep_Calm.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("fonts/Keep_Calm.svg#Keep Calm W01 Book") format("svg"); /* iOS 4.1- */
  }

body {
    font-family: 'Keep Calm';
    margin: 0;
}