header {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 20px; */
  background: url("../img/banniere_header.png") center;
}

.title_header {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title_header div {
  position: relative;
  text-align: center;
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_header img {
  width: 150px;
  height: 150px;
  float: left;
}

.title_header h1 {
  width: 200px;
  margin: 0;
}

.title_header h2 {
  width: 100%;
  margin: 0;
}

.admin {
  position: absolute;
  top: 0;
  right: 30px;
  color: white;
  font-weight: bold;
}

.admin p {
  margin-top: 5px;
}

.div_btn_head {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.div_btn_head .btn_head {
  width: 60px;
}

.btn_head {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  border: transparent;
  background: lightgrey;
}

input:invalid {
    background-color: pink;
}

section {
  padding: 20px;
  padding-bottom: 75px;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: 0 auto;
  width: 90%;
}
table tr.line {
  height: 240px;
  background: rgba(240, 240, 240);
  display: flex;
  justify-content: space-between;
}
.modify {
  margin-left: 10px;
}
.modify a, .delete a {
  color: grey;
}

.modify_form {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  height: 500px;
  background: white;
  border: lightgrey 1px solid;
  border-radius: 10px;
  font-size: 12px;
  margin-bottom: 20px;
}

.form.login {
  margin-top: 20px;
  height: 200px;
  width: 200px;
}

form input,
.form form textarea,
.form form select {
  margin-bottom: 15px;
  border-radius: 5px;
  border: transparent;
  background: lightgrey;
}

.form form .input {
  width: 250px;
}

.form form .file {
  width: 210px;
}

.form form .content {
  width: 250px;
  height: 100px;
}

.form p {
  margin: 0;
  font-size: 9px;
  color: darkgrey;
  width: 50%;
}

.form form .pos {
  width: 50px;
}

.form form .btn_send {
  width: 100%;
}

div.period {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;
}

.title_period {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.btn_show,
.btn_hide {
  position: absolute;
  background: white;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 10px;
}

 .btn_hide.down {
  margin-top: -25px;
}

.content_period {
  display: none;
}

.content_period table .cel_img {
  display: flex;
  align-items: center;
}

.content_period table .cel_title {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_period table .cel_content {
  width: 40%;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.content_period table .cel_publi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.logo_opacity {
  opacity: 0.1;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: #7ccded;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  font-size: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 121, 240, 0.7);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 121, 240, 0.7) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* BACKLOG */
.backlog h1 {
  font-size: 20px;
  margin: 5px;
  text-align: center;
}
.bl_line {
  background: #e6e6e6;
  line-height: 20px;
  margin-bottom: 5px;
  display: flex;
  border-radius: 5px;
  padding: 5px;
}

.bl_line p, .bl_line ul {
  margin: 0;
}

.bl_line .bl_date {
  font-size: 10px;
  min-height: 50px;
  max-height: 100%;
  width: 80px;
  border-right: solid 5px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bl_line .bl_content {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}

.bl_line .bl_list {
  font-size: 12px;
}